<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <appender name="con" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36}:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="con" />
    </root>

    <logger name="net.inpercima.runandfun" level="debug" />
</configuration>
