/**
 * @author Marcel Jänicke
 * @since 08.04.2015
*/
body {
  overflow-y: scroll;
}

a.glyphicon {
  text-decoration: none;
}

.glyphicon.glyphicon-remove {
  cursor: pointer;
}

.modal-dialog .progress {
  margin: 10px;
}
