<!doctype html>
<!--
 - @author    Sebastian Peters
 - @since     07.03.2015
 -->
<html data-ng-app="runAndFun" data-ng-strict-di>
  <head>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container" data-ng-controller="ActivityController as vm">
      <div class="page-header">
        <h1>Activities</h1>
        <span data-ng-cloak>Available indexed activities: {{vm.activities.totalElements}}</span>
      </div>
      <form role="form">
        <div class="form-group form-inline">
          <label class="sr-only" for="size">Resultset size</label>
          <input class="form-control" type="text" data-ng-model="vm.size" placeholder="Resultset size" id="size" />
          <select class="form-control" data-ng-model="vm.filterType" id="filterType">
            <option value="">All activity types</option>
            <option value="cycling">Cycling</option>
            <option value="hiking">Hiking</option>
            <option value="running">Running</option>
            <option value="walking">Walking</option>
          </select>
        </div>
        <!--
        <div class="form-group form-inline">
          <label class="sr-only" for="filterFulltext">Fulltext filter</label>
          <input class="form-control" type="text" data-ng-model="vm.filterFulltext" placeholder="Fulltext" id="filterFulltext" />
        </div>
        -->
        <div class="form-group form-inline">
          <label class="sr-only" for="filterMinDate">Minimal date filter</label>
          <input class="form-control" type="date" data-ng-model="vm.filterMinDate" id="filterMinDate" min="2012-01-01" max="2015-12-31" placeholder="yyyy-MM-dd" />
          <span>&nbsp;-&nbsp;</span>
          <label class="sr-only" for="filterMaxDate">Maximal date filter</label>
          <input class="form-control" type="date" data-ng-model="vm.filterMaxDate" id="filterMaxDate" min="2012-01-01" max="2015-12-31" placeholder="yyyy-MM-dd" />
          <span>&nbsp;/&nbsp;</span>
          <select class="form-control" data-ng-model="vm.filterYear" id="filterYear">
            <option value="">All years</option>
            <option>2012</option>
            <option>2013</option>
            <option>2014</option>
            <option>2015</option>
          </select>
        </div>
        <div class="form-group form-inline">
          <label class="sr-only" for="filterMinDistance">Minimal distance filter</label>
          <input class="form-control" type="text" data-ng-model="vm.filterMinDistance" placeholder="Minimal distance" id="filterMinDistance" />
          <span>&nbsp;-&nbsp;</span>
          <label class="sr-only" for="filterMaxDistance">Maximal distance filter</label>
          <input class="form-control" type="text" data-ng-model="vm.filterMaxDistance" placeholder="Maximal distance" id="filterMaxDistance" />
        </div>
        <button data-ng-click="vm.list()">Filter</button>
      </form>
      <div>
        <table class="table table-striped">
          <caption data-ng-bind="title"></caption>
          <thead>
          <tr>
            <th><a href="" data-ng-click="predicate = 'date'; reverse=!reverse" title="Order by date">Date</a></th>
            <th><a href="" data-ng-click="predicate = 'distance'; reverse=!reverse" title="Order by distance">Distance</a></th>
            <th><a href="" data-ng-click="predicate = 'duration'; reverse=!reverse" title="Order by duration">Duration</a></th>
            <th><a href="" data-ng-click="predicate = 'timePerKm'; reverse=!reverse" title="Order by time for one kilometer">Time/km</a></th>
            <th><a href="" data-ng-click="predicate = 'timePer5Km'; reverse=!reverse" title="Order by time for five kilometers">Time/5km</a></th>
            <th><a href="" data-ng-click="predicate = 'timePer10Km'; reverse=!reverse" title="Order by time for ten kilometers">Time/10km</a></th>
            <th class="sr-only">Functions</th>
          </tr>
          </thead>
          <tbody>
          <tr class="success" data-ng-hide="vm.activities.totalElements < 1">
            <td>Total: <span data-ng-bind="vm.totalActivities"></span></td>
            <td><span data-ng-bind="vm.totalDistance | number:2"></span></td>
            <td><span data-ng-bind="vm.totalDuration"></span></td>
            <td><span data-ng-bind="vm.totalTimePerKm"></span></td>
            <td><span data-ng-bind="vm.totalTimePer5Km"></span></td>
            <td><span data-ng-bind="vm.totalTimePer10Km"></span></td>
            <td></td>
          </tr>
          <tr class="warning" data-ng-show="vm.activities.totalElements < 1">
            <td>No activities found!</td>
            <td/><td/><td/><td/><td/><td/>
          </tr>
          <tr data-ng-repeat="activity in vm.activities.content | orderBy:predicate:reverse">
            <td><span data-ng-bind="::activity.date | date:'yyyy-MM-dd'"></span></td>
            <td><span data-ng-bind="::activity.distance | number:2"></span></td>
            <td><span data-ng-bind="::activity.duration"></span></td>
            <td><span data-ng-bind="::activity.timePerKm"></span></td>
            <td><span data-ng-bind="::activity.timePer5Km"></span></td>
            <td><span data-ng-bind="::activity.timePer10Km"></span></td>
            <td>
              <span data-ng-show="activity.id">
                <a class="glyphicon glyphicon-globe" data-ng-href="http://runkeeper.com/user/sepe/activity/{{::activity.id}}"
                  target="_blank" title="Open activity {{::activity.id}} on runkeeper.com">
                </a>
                <a class="glyphicon glyphicon-remove" data-ng-click="vm.remove(activity)"
                  title="Remove activity {{::activity.id}} from view">
                </a>
              </span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script src="bower_components/angularjs/angular.min.js"></script>
    <script src="js/app.min.js"></script>
  </body>
</html>
