<div>
  <h1>Graphs</h1>
</div>
<div>
  <h2>Distribution of activities</h2>
  <p data-ng-cloak>All Activities: {{vm.activities.numberOfElements}}</p>
  <canvas id="pie" class="chart chart-pie"
    chart-data="vm.pieOverviewData" 
    chart-labels="vm.pieOverviewLabels"
    chart-legend="true">
  </canvas>
</div>
<div>
  <h2>Show kilometers per 
    <select ng-model="vm.averageKmDropdown" ng-change="vm.refreshLineKmPerMonth();">
      <option value="year">Year</option>
      <option value="month" selected>Month</option>
      <option value="day">Day</option>
    </select> for running activities
  </h2>
  <p data-ng-cloak>Running Activities: {{vm.runs.numberOfElements}}</p>
  <canvas id="line" class="chart chart-line" 
    chart-data="vm.lineKmPerMonthData"
    chart-labels="vm.lineKmPerMonthLabels">
  </canvas>
</div>
