<div>
  <h1>Graphs</h1>
  <div class="form-group form-inline">
    <select class="form-control" data-ng-change="vm.list()" data-ng-model="vm.filterYear" id="filterYear" data-ng-options="filterYear.year for filterYear in vm.years track by filterYear.key"></select>
  </div>
</div>
<div>
  <h2>
    Distribution of
    <span data-ng-cloak>{{vm.activities.numberOfElements}}</span>
    activities
    <button type="button" class="btn btn-success" data-ng-click="vm.changeDistributionChartType()">Change Chart Type</button>
  </h2>
  <canvas class="chart-base"
    chart-data="vm.distributionData"
    chart-labels="vm.distributionLabels"
    chart-legend="true"
    chart-type="vm.distributionChartType">
  </canvas>
</div>
<div>
  <h2>Kilometers per
    <select data-ng-model="vm.distanceGrouping" data-ng-change="vm.refreshDistanceChart()">
      <option value="year">Year</option>
      <option value="month" selected>Month</option>
      <option value="day">Day</option>
    </select> for
    <span data-ng-cloak>{{vm.runs.numberOfElements}}</span>
    running activities
  </h2>
  <canvas class="chart chart-line"
    chart-data="vm.distanceData"
    chart-labels="vm.distanceLabels"
    chart-series="vm.distanceSeriesLabels">
  </canvas>
</div>
