<nav class="navbar navbar-default">
  <div data-ng-transclude></div>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-ng-init="navCollapsed = true" data-ng-click="navCollapsed = !navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">run and fun!</a>
    </div>
    <div class="collapse navbar-collapse" data-ng-class="!navCollapsed && 'in'">
      <ul class="nav navbar-nav">
        <li data-ng-class="tab.navClass('home')"><a href="#/">Home</a></li>
        <li data-ng-class="tab.navClass('activities')"><a href="#/activities">Activities</a></li>
        <li data-ng-class="tab.navClass('graphs')"><a href="#/graphs">Graphs</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li dropdown>
          <a href dropdown-toggle>More <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/indexActivities">Index your activities</a></li>
            <li class="divider"></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
