<div fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="60">
    <!--
      !(isAuthenticated$ | async)
      template-no-negated-async  Async pipes should not be negated. Use (observable | async) === (false | null | undefined) to check its value instead
    -->
    <mat-card *ngIf="(isAuthenticated$ | async) === false && appState">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon>directions_run</mat-icon>
        </div>
        <mat-card-title>Hello, run and funner!</mat-card-title>
        <mat-card-subtitle>...</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Please login to get full access to your activities, graphs and other nice stuff.</p>
        <p>
          <a href="https://runkeeper.com/apps/authorize?client_id={{ appState.clientId }}&amp;redirect_uri={{ appState.redirectUri }}&amp;response_type=code{{ state }}">
            <img src="http://static1.runkeeper.com/images/assets/login-blue-black-200x38.png" />
          </a>
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="isAuthenticated$ | async">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon>logout</mat-icon>
        </div>
        <mat-card-title>Do you want to go already?</mat-card-title>
        <mat-card-subtitle>...</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          You are currently logged in. You can now
          <a routerLink="" (click)="logout()">logout</a> if you wish.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
